* {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none
}

html {
    font-size: 10vw
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 120px
    }
}

.root {
    width: 10rem
}

.header {
    width: 10rem;
    height: .9167rem;
    background-color: #b13232;
    overflow: hidden;
    position: relative
}

.header .logo {
    position: absolute;
    width: 2.8542rem;
    height: .5729rem;
    left: .3385rem;
    top: .1875rem
}

.header .left {
    position: absolute;
    width: 1.4115rem;
    height: .8854rem;
    left: 0rem;
    top: .3854rem
}

.header .right {
    position: absolute;
    width: 1.8385rem;
    height: 1.1302rem;
    left: 8.1615rem;
    top: -0.0052rem
}

.header .search {
    position: absolute;
    width: 2.2813rem;
    height: .2448rem;
    left: 5.6563rem;
    top: .4792rem;
    background: #fff;
    border: .0156rem solid #630000;
    border-radius: .2005rem;
    padding-left: .2552rem;
    font-size: .1042rem;
    line-height: .125rem
}

.header .search_icon {
    position: absolute;
    height: .1299rem;
    width: .125rem;
    left: 5.7344rem;
    top: .5421rem
}

.footer {
    position: relative;
    width: 10rem;
    height: 1.026rem;
    left: 0rem;
    background: #2f2a2a;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer .logo {
    position: absolute;
    width: .6563rem;
    height: .6302rem;
    left: .6354rem;
    top: .2188rem
}

.footer .friend {
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: .1354rem;
    line-height: .1615rem;
    margin-top: .2344rem;
    color: #fff
}

.footer .friend .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: .1667rem;
    line-height: .2031rem;
    color: #fff
}

.footer .friend .link {
    color: #fff
}

.footer .place {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: .1354rem;
    line-height: .1615rem;
    color: #fff;
    margin-top: .1042rem
}

.footer .copyright {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: .1354rem;
    line-height: .1615rem;
    color: #fff
}
